<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/nullStyle.css">
    <link rel="stylesheet" href="~/css/site.css">
    <title>Спортивна секція</title>
</head>
<body>
    <div class="container">
        <header>
            <div class="header__content">
                <div class="header__menu">
                    <a asp-controller="Home" asp-action="Index" class="header__menu__item">
                        <span>Спортивна секція</span>
                    </a>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <a asp-controller="Account" asp-action="Logout" class="header__menu__item">
                            <span>Вийти</span>
                        </a>
                    }
                    else
                    {
                        <a asp-controller="Account" asp-action="Login" class="header__menu__item">
                            <span>Увійти</span>
                        </a>
                    }

                    <a asp-controller="SportSections" asp-action="Index" class="header__menu__item">
                        <span>Спортивні секції</span>
                    </a>
                    <a asp-controller="Sportsmans" asp-action="Index" class="header__menu__item">
                        <span>Спортсмени</span>
                    </a>
                    <a asp-controller="Sports" asp-action="Index" class="header__menu__item">
                        <span>Спорт</span>
                    </a>
                    <a asp-controller="Trainers" asp-action="Index" class="header__menu__item">
                        <span>Тренери</span>
                    </a>
                </div>
            </div>
        </header>
        <div class="content">
            @RenderBody()
        </div>
    </div>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>