@model SportSections.Models.SectionRecord

@{
    ViewData["Title"] = "Create";
}

<link href="~/css/form.css" rel="stylesheet" />
<div class="form">
    <form asp-action="CreateDetailsSp">
        <div class="form__content">
            <div class="form__title">
                <span>Додати спортсмена в секцію</span>
            </div>
            <div class="form__items">
                <input type="hidden" asp-for="SportSectionId" />
                <div class="form__items__item">
                    <span class="display">Спортсмен</span>
                    <select asp-for="SportsmanId" class="form-control" asp-items="ViewBag.SportsmanId"></select>
                </div>
                <div class="form__items__item">
                    <span class="display">Дата запису</span>
                    <input type="datetime-local" asp-for="RecordDate">
                    <span class="validation" asp-validation-for="RecordDate"></span>
                </div>
                <div class="form__items__item">
                    <input type="submit" value="Додати">
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
