@model SportSections.Models.Coaching

@{
    ViewData["Title"] = "Edit";
}

<link href="~/css/form.css" rel="stylesheet" />
<link href="~/css/table.css" rel="stylesheet" />
@if (ViewBag.BestTrainer is not null)
{
    var trainer = (Trainer)ViewBag.BestTrainer;
    <div class="details">
        <div class="details__content">
            <div class="details__content__title"><span>Рекомендований тренер</span></div>
            <div class="details__items">
                <div class="details__items__row">
                    <div class="details__item__cell"><span>Ім'я</span></div>
                    <div class="details__item__cell"><span>@trainer.Name</span></div>
                </div>
                <div class="details__items__row">
                    <div class="details__item__cell"><span>Прізвище</span></div>
                    <div class="details__item__cell"><span>@trainer.Surname</span></div>
                </div>
                <div class="details__items__row">
                    <div class="details__item__cell"><span>По батькові</span></div>
                    <div class="details__item__cell"><span>@trainer.LastName</span></div>
                </div>
            </div>
        </div>
    </div>
}
<div class="form">
    <form asp-action="EditDetailsTr">
        <div class="form__content">
            <div class="form__title">
                <span>Редагування тренера в секції</span>
            </div>
            <div class="form__items">
                <input type="hidden" asp-for="CoachingId" />
                <input type="hidden" asp-for="SportSectionId" />
                <div class="form__items__item">
                    <span class="display">Тренер</span>
                    <select asp-for="TrainerId" class="form-control" asp-items="ViewBag.TrainerId"></select>
                </div>
                <div class="form__items__item">
                    <span class="display">Дата початку</span>
                    <input type="datetime-local" asp-for="StartTime">
                    <span class="validation" asp-validation-for="StartTime"></span>
                </div>
                <div class="form__items__item">
                    <span class="display">Дата кінця</span>
                    <input type="datetime-local" asp-for="FinishTime">
                    <span class="validation" asp-validation-for="FinishTime"></span>
                </div>
                <div class="form__items__item">
                    <input type="submit" value="Відредагувати">
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
