@model SportSections.Models.Trainer

@{
    ViewData["Title"] = "Create";
}

<link href="~/css/form.css" rel="stylesheet" />

<div class="form">
    <form asp-action="Create">
        <div class="form__content">
            <div class="form__title">
                <span>Додавання тренера</span>
            </div>
            <div class="form__items">
                <div class="form__items__item">
                    <span class="display">Ім'я</span>
                    <input type="text" asp-for="Name">
                    <span class="validation" asp-validation-for="Name"></span>
                </div>
                <div class="form__items__item">
                    <span class="display">Прізвище</span>
                    <input type="text" asp-for="Surname">
                    <span class="validation" asp-validation-for="Surname"></span>
                </div>
                <div class="form__items__item">
                    <span class="display">По батькові</span>
                    <input type="text" asp-for="LastName">
                    <span class="validation" asp-validation-for="LastName"></span>
                </div>
                <div class="form__items__item">
                    <span class="display">Вік</span>
                    <input type="number" asp-for="Age">
                    <span class="validation" asp-validation-for="Age"></span>
                </div>
                <div class="form__items__item">
                    <span class="display">Стать</span>
                    <input type="text" asp-for="Gender">
                    <span class="validation" asp-validation-for="Gender"></span>
                </div>
                <div class="form__items__item">
                    <span class="display">Досвід роботи</span>
                    <input type="text" asp-for="WorkExperiance">
                    <span class="validation" asp-validation-for="WorkExperiance"></span>
                </div>
                <div class="form__items__item">
                    <span class="display">Адреса</span>
                    <input type="text" asp-for="Address">
                    <span class="validation" asp-validation-for="Address"></span>
                </div>
                <div class="form__items__item">
                    <span class="display">Зарплата</span>
                    <input type="number" asp-for="Salary">
                    <span class="validation" asp-validation-for="Salary"></span>
                </div>
                <div class="form__items__item">
                    <input type="submit" value="Створити">
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
