@model SportSections.Models.Coaching

@{
    ViewData["Title"] = "Edit";
}

<link href="~/css/form.css" rel="stylesheet" />

<div class="form">
    <form asp-action="EditDetailsTr">
        <div class="form__content">
            <div class="form__title">
                <span>Редагування деталей</span>
            </div>
            <div class="form__items">
                <input type="hidden" asp-for="CoachingId" />
                <input type="hidden" asp-for="TrainerId" />
                <div class="form__items__item">
                    <span class="display">Спортивна секція</span>
                    <select asp-for="SportSectionId" class="form-control" asp-items="ViewBag.SportSectionId"></select>
                    <span class="validation" asp-validation-for="SportSectionId"></span>
                </div>
                <div class="form__items__item">
                    <span class="display">Початок тренерства</span>
                    <input type="datetime-local" asp-for="StartTime">
                    <span class="validation" asp-validation-for="StartTime"></span>
                </div>
                <div class="form__items__item">
                    <span class="display">Кінець тренерства</span>
                    <input type="datetime-local" asp-for="FinishTime">
                    <span class="validation" asp-validation-for="FinishTime"></span>
                </div>
                <div class="form__items__item">
                    <input type="submit" value="Редагувати">
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }