@model SportSections.Models.Sport

@{
    ViewData["Title"] = "Edit";
}

<link href="~/css/form.css" rel="stylesheet" />
<div class="form">
    <form asp-action="Edit">
        <div class="form__content">
            <div class="form__title">
                <span>Редагування спорту</span>
            </div>
            <div class="form__items">
                <input type="hidden" asp-for="SportId" />
                <div class="form__items__item">
                    <span class="display">Назва</span>
                    <input type="text" asp-for="Name">
                    <span class="validation" asp-validation-for="Name"></span>
                </div>
                <div class="form__items__item">
                    <span class="display">Тип спорту</span>
                    <input type="text" asp-for="SportType">
                    <span class="validation" asp-validation-for="SportType"></span>
                </div>
                <div class="form__items__item">
                    <span class="display">Шанс травми</span>
                    <input type="text" asp-for="ChanceOfInjury">
                    <span class="validation" asp-validation-for="ChanceOfInjury"></span>
                </div>
                <div class="form__items__item">
                    <input type="submit" value="Відредагувати">
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
