@model QueryViewModel

    <link href="~/css/table.css" rel="stylesheet" />
    <div class="to_print">
        @{
            if (Model is not null)
            {
                if (Model.QueryIsSuccess)
                {
                    <div class="table">
                        <div class="table__content">
                            <div class="table__row">
                                @foreach (var name in Model.ColumnNames)
                                {
                                    <div class="table__cell">@name</div>
                                }
                            </div>
                            @foreach (var item in Model.InfoSets)
                            {
                                <div class="table__row">
                                    @foreach (var td in item)
                                    {
                                        <div class="table__cell">@td</div>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                }
                else
                {
                    <p>Помилка SQL запиту</p>
                }

            }
        }
    </div>


    <script src="~/js/print.js"></script>